<div class="container">
  <%= video_tag 'roots.mp4', autoplay: true, loop: true, muted: true %>
  <div class="section-box">
    <div class="content">
      <h2>coody.com</h2>
      <p>コロナで自宅待機している学生が<span>暇つぶしに作った時事ネタオピニオンサイト</span></p>
    </div>
    <a href="posts">見てみる!!</a>
  </div>
</div>