/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

h6 {
  padding: 18px;
}

.contact {
  width: 631px !important;
  font-size: 20px;
  padding: 50px 0 0 75px !important;

}

.box {
  font-size: 21px;
  padding: 77px 24px 102px 189px !important;

}
img {
  width: 481px !important;
}