/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/



.main-box {
  padding: 12px 12px 12px 66px;


  & .main-content {

    & .contact {
      padding: 26px 0 0 28px;
    }
  }

}