/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.main-box {
  padding: 12px 12px 12px 157px;


  .contact {
    width: 315px;
  }
}
.contacts-box {
  .box {
    padding: 77px 24px 210px 189px !important;
  }
  img {
    width: 403px;
  }
}