<div id='global-container'>
  <div id="container">
    <div class="cover"></div>
    <header>
      <a href='/posts' >
        <div class="title-box">
          <i class="far fa-newspaper"></i>
          <h1>Coody.com</h1>
          <p>ただの暇つぶしサイト</p>
        </div>
      </a>
      <nav class="desktop-menu">
        <ul class="desktop-menu__main">
          <li class="desktop-menu__item">
            <a href="/sns/index">
              <span class="main-title1">SNS</span>
              <span class="sub-title">メディアで情報発信中</span>
            </a>
          </li>
          <li class="desktop-menu__item">
            <a href="/intros/index">
              <span class="main-title2">about me</span>
              <span class="sub-title second">自己紹介</span>
            </a>
          </li>
          <li class="desktop-menu__item">
            <a href="/contacts/index">
              <span class="main-title3">contact me</span>
              <span class="sub-title third">ご依頼</span>
            </a>
          </li>
        </ul>
      </nav>
      <button class="menu-box">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    
    <main>
      <div class="main-box">
        <h6>contact me<span>ご依頼など</span></h6>
        <div class="main-content">
          <div class="contact">&nbsp;&nbsp;&nbsp;この貧弱サイトの感想やクレーム、質問、なんでも結構です。連絡してくれたら嬉しいです。<br>ゴルフのお誘いならちょー喜びます！！</div>
        </div>

      </div>
      <div class="contacts-box">
        <div class="box">
          <p>mail<i class="fas fa-envelope"></i><span class="mail">:&nbsp;&nbsp;</span><a href="#">k.kitahara51@gmail.com</a></p>
          <p>twitter<i class="fab fa-twitter"></i><span class="twitter">:&nbsp;&nbsp;</span><a href="https://twitter.com/makejpagain">こちら</a></p>
          <p>note<i class="fas fa-book-open"></i><span class="note">:&nbsp;&nbsp;</span><a href="https://note.com/kodai0921">こちら</a></p>
        </div>
      </div>
    </main>
    <footer>
      &copy; cody
      <div>
        <a href="/posts/new">テスト</a>
      </div>
    </footer>
  </div>
<!-- バーガーメニュークリック時のメニュー -->
  <nav class="mobile-menu">
    <ul class="mobile-menu__main">
      <li class="mobile-menu__item">
        <a href="/sns/index">
          <span class="main-title1">SNS</span>
          <span class="sub-title">複数メディアで情報発信中</span>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="/intros/index">
          <span class="main-title2">about me</span>
          <span class="sub-title second">自己紹介</span>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="#">
          <span class="main-title3">contact me</span>
          <span class="sub-title third">ご依頼</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
