/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/


.section-box {
  margin-left: 144px !important;
  margin-top: 164px !important;
}