/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

.show-content {
  width: 250px;
  border: solid 1px;
  margin: 0 auto 16px auto;

  & .trix-content {
    min-height: 200px;

  }
  
}
