/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

img {
  width: 160px !important;
}

.intro {
  margin-left: 64px !important;
  margin-top: 57px !important;
}